@import helper._
@import helper.twitterBootstrap._

@main("SIGEPI - Adicionar Membros"){
<html>

<body>


	<center>
		<!-- Adicionar Dicente -->
		<a href="#addDicente" role="button" class="btn" data-toggle="modal">Adicionar Discente</a>

		<!-- Modal -->
		<div id="addDicente" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="addDicenteLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="myModalLabel">Inserir Dicente</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="text">Nome:</label>
						<div class="controls">
							<input type="text" id="name" placeholder="Insira seu nome aqui!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="text">Matricula:</label>
						<div class="controls">
							<input type="text" id="text" placeholder="Insira sua matricula aqui!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="text">CPF:</label>
						<div class="controls">
							<input type="text" id="text" placeholder="Insira seu cpf aqui!">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
				<button class="btn btn-primary">Salvar</button>
			</div>
		</div>
		<!-- Adicionar Dicente -->
		<a href="#addDocente" role="button" class="btn" data-toggle="modal">Adicionar Docente</a>

		<!-- Modal -->
		<div id="addDocente" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="addDocenteLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="myModalLabel">Inserir Docente</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="text">Nome:</label>
						<div class="controls">
							<input type="text" id="name" placeholder="Insira seu nome aqui!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="text">Matricula:</label>
						<div class="controls">
							<input type="text" id="text" placeholder="Insira sua matricula aqui!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="text">CPF:</label>
						<div class="controls">
							<input type="text" id="text" placeholder="Insira seu cpf aqui!">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
				<button class="btn btn-primary">Salvar</button>
			</div>
		</div>
		<a class="btn right" type="submit" href="@routes.Professores.exibirDadosCadastrados()">Avançar</a>
			<a href="@routes.Professores.index()" class="btn right">Voltar</a>
	</center>

<br>
	<br>
	<br>
</body> 
</html> 
	

}