@import helper._
@import helper.twitterBootstrap._

@main("SIGEPI - Adicionar Membros"){
<html>

<body>

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Professores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Professores.adicionarMembrosProjeto()">Adicionar Membros</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>
	<center>
		<!-- Adicionar Dicente -->
		<a href="#addDicente" role="button" class="btn" data-toggle="modal">Adicionar Dicente</a>

		<!-- Modal -->
		<div id="addDicente" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="addDicenteLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="myModalLabel">Inserir Dicente</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="text">Nome:</label>
						<div class="controls">
							<input type="text" id="name" placeholder="Insira seu nome aqui!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="text">Matricula:</label>
						<div class="controls">
							<input type="text" id="text" placeholder="Insira sua matricula aqui!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="text">CPF:</label>
						<div class="controls">
							<input type="text" id="text" placeholder="Insira seu cpf aqui!">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
				<button class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</center>

<br>
	<br>
	<br>
</body> 
</html> 
	

}