@(id: Long, projetos: Form[Projeto])

@import helper._
@import helper.twitterBootstrap._



@main("SIGEPI - Editar Projeto") {

@helper.form(action = routes.Professores.update(id)) {


<fieldset>
   <legend>Projeto (@projetos("nome").valueOr("Novo"))</legend>
       @helper.inputText(projetos("nome"), '_label -> "Nome" )
       @helper.inputText(projetos("dataCadastro"), '_label -> "Data Cadastro"  )
       @helper.inputText(projetos("campus"), '_label -> "Campus" )
       @helper.inputText(projetos("agencia"), '_label -> "Agencia Financiadora" )
       @helper.inputText(projetos("areaConhecimento"), '_label -> "Area Conhecimento" )
       
       
       @* @helper.textarea(projetos("descricao")) *@
</fieldset>
<input type="submit" class="btn primary">

<a href="@routes.Professores.gerenciarProjeto" class="btn">Cancelar</a>


 } 

}
