@(projetos: List[Projeto], campus: List[Campus])

@* @(bolsistas: Set[Bolsista]) *@

@main("SIGEPI - Gerenciar Projetos") {
			
			
	<a href="@routes.Professores.formularioCadastrarProjeto()" class="btn primary"><i class="icon-plus"></i> Cadastrar Novo Projeto</a>
			
			<br><br>
 
			@if(projetos.size == 0) {
				<h3>Nenhum Projeto cadastrado.</h3>			
			} else {
				<table class="table table-bordered table-condensed table-striped">
	              <thead>
	                <tr>
	                  <th>Nome</th>
	                  <th>Data de Cadastro</th>
	                  <th>Campus</th>
	                  <th>Agência Financiadora</th>
	                  <th>Área de Conhecimento</th>
	                  @*<th>Bolsista</th>*@
	                </tr>
	              </thead>
	              <tbody>
                	@for(projeto <- projetos) {
	                <tr>
                		<td>@projeto.nome</td>
                		<td>@projeto.dataCadastro</td>
                		<td>@projeto.campus.getNome</td>
                		<td>@projeto.agencia</td>
                		<td>@projeto.areaConhecimento</td>
                		@*<td>@projeto.bolsista</td>*@
						<td style="width:15%;">
						@*<a href="@routes.Administracao.formularioEdicaoBolsista(bolsista.id)" class="btn success"><i class="icon-edit"></i> Editar</a>
						<a href="@routes.Administracao.delete(bolsista.id)" onclick="return confirm('Deseja realmente excluir o Bolsista: &quot;@bolsista.nome&quot;?')" class="btn danger"><i class="icon-remove"></i> Excluir</a>
						*@
							<a href="@routes.Professores.formularioEdicaoProjeto(projeto.id)" class="btn btn-small"><i class="icon-edit"></i> Editar</a>
							<a href="@routes.Professores.deletarProjeto(projeto.id)" onclick="return confirm('Deseja realmente excluir o projeto &quot;@projeto.nome&quot;?')" class="btn btn-small"><i class="icon-remove"></i> Excluir</a>
						
						</td>
	                </tr>
					}
	              </tbody>
	            </table>
			}
			
			<a href="@routes.Professores.index()" class="btn">Voltar</a>
			
}

