@main("SIGEPI - Dados do Projeto de Pesquisa"){

<html>

<body>


	<center>

			<!-- <b>Edital:</b><input type="text" name="fname">
		
		<b>Nome do Projeto:</b><input type="text" name="fname">
		
		<b>Aluno:</b> <input type="text" name="fname">
		
		<b>Professor:</b><input type="text" name="fname"> -->
		
		
			<button class="btn pull-right" type="submit">Enviar</button>
			<a href="@routes.Professores.index()" class="btn pull-right">Voltar</a>
	</center>
	

</body> 
</html> 
}