

@main("SIGEPI - Formulario de Avaliacao") {

<html>

<body>

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Avaliadores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Avaliadores.avaliarProjeto()">Avaliar Projetos</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>
	 
	 
<h1>Formulario de Avaliacao do Projeto de Pesquisa</h1>


 <form name="pergunta01">
<h4>01 - Nononononononononononono </h4>
    


<input type="radio" name=op id="otimo1" >Otimo <br>
<input type="radio" name=op id="bom1" >Bom <br>
<input type="radio" name=op id="regular1" >Regular<br>
<input type="radio" name=op id="ruim1" >Ruim<br>
<input type="radio" name=op id="pessimo1" >Pessimo<br>
 

<br><br><br>
</form>

<h4>02 - Nononononononononononono </h4>
    
<form name="pergunta02">

<input type="radio" name=op id="otimo2" >Otimo <br>
<input type="radio" name=op id="bom2" >Bom <br>
<input type="radio" name=op id="regular2" >Regular<br>
<input type="radio" name=op id="ruim2" >Ruim<br>
<input type="radio" name=op id="pessimo2" >Pessimo<br>
</form>



<br><br><br>
<!--  -->


<form name="pergunta03">
<h4>03 - Nononononononononononono </h4>
    


<input type="radio" name=op id="otimo3" >Otimo <br>
<input type="radio" name=op id="bom3" >Bom <br>
<input type="radio" name=op id="regular3" >Regular<br>
<input type="radio" name=op id="ruim3" >Ruim<br>
<input type="radio" name=op id="pessimo3" >Pessimo<br>
</form>

<br><br><br>

<!--  -->


<form name="pergunta04">
<h4>04 - Nononononononononononono </h4>
    


<input type="radio" name=op id="otimo4" >Otimo <br>
<input type="radio" name=op id="bom4" >Bom <br>
<input type="radio" name=op id="regular4" >Regular<br>
<input type="radio" name=op id="ruim4" >Ruim<br>
<input type="radio" name=op id="pessimo4" >Pessimo<br>

</form>



<br><br><br>
<!--  -->



<form name="pergunta05">
<h4>05 - Nononononononononononono </h4>
    


<input type="radio" name=op id="otimo5" >Otimo <br>
<input type="radio" name=op id="bom5" >Bom <br>
<input type="radio" name=op id="regular5" >Regular<br>
<input type="radio" name=op id="ruim5" >Ruim<br>
<input type="radio" name=op id="pessimo5" >Pessimo<br>

</form>




<br><br><br>

<input type="submit" value="Aceitar Submissao" class="aceitarSubmissao btn success" >  

<input type="submit" value="Aceitar com Restricoes" class="aceitarRestricoes btn primary"  >   

<input type="submit" value="Rejeitar" class="rejeitarSubmissao btn danger pull-right" >
 
<br><br>
<hr>
<a href="@routes.Avaliadores.acessarDadosProjeto()" class="btn">Voltar</a>


</body>





</html>

} 
