
@main("SIGEPI - Area do Avaliador") {
<html>

<body>

	<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Avaliadores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Avaliadores.avaliarProjeto()">Avaliar Projetos</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>
        
<h1>O que deseja fazer? </h1> 
</body> 

<a href="@routes.Avaliadores.avaliarProjeto()" class="btn">Avaliar Projetos</a>
</html>  

}