@main("SIGEPI - Cadastrar Projetos"){

<html>

<body>

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Professores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Professores.cadastrarProjeto()">Cadastrar Projeto</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>
	<center>
		 <div id="container" style="width:500px">
		<!--  <div id="header" style="background-color:#FFA500;"> -->
		 <!-- <h1 style="margin-bottom:0;">SIGEPI</h1></div> -->
		 <div id="content" style="background-color:#EEEEEE;height:200px;width:500px;float:left;">
<form action="demo_form.asp">	
	<div>
					<br> <b>Escolha o Edital:</b> <select>
							<option>Edital 2010.1</option>
							<option>Edital 2010.2</option>
							<option>Edital 2011.1</option>
							<option>Edital 2011.2</option>
							<option>Edital 2012.1</option>
							<option>Edital 2012.2</option>
						</select>
					</div><br>
					<b>Nome do Projeto:</b>
		<input type="text" name="fname"><br>
		<br><form action="demo_form.asp">
  <b>Escolha o arquivo:</b><input type="file" multiple="multiple">
  <!-- <input type="submit"> -->

</form>
<a href="@routes.Professores.index()" class="btn">Voltar</a>
         </div>

<!-- <div id="footer" style="background-color:#99FF99;clear:both;text-align:center;">
www.sigepi.edu.ifrn.br</div> -->
		  
	</center>
	
	 
</body> 
</html> 
}