@(formulario: Form[Usuario])


@import helper._
@import helper.twitterBootstrap._


@main("SIGEPI - Cadastrar um Novo Professor") {

@helper.form(action = routes.Administracao.salvarCadastrarProfessor()) {


<fieldset>
   <legend>Professor (@formulario("nome").valueOr("Novo"))</legend>
            
      @helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("email"), 'id -> "email", 'class -> "span5",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("login"), 'id -> "login", 'class -> "span5",  '_label -> "Login: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputPassword(formulario("senha"), 'id -> "senha", 'class -> "span5",  '_label -> "Senha: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputPassword(formulario("confirmacaoSenha"), 'id -> "confirmacaoSenha", 'class -> "span5", '_label -> "Confirme a Senha: ", '_showConstraints -> false, '_showErrors -> true)
				
        
    
</fieldset>
<input type="submit" class="btn primary">

<a href="@routes.Administracao.index" class="btn">Cancelar</a>
  }

 } 
 
