@main {
<div class="row">
	<div class="span8">
		<div class="page-header">
			<h1>Sobre o SIGEPI</h1>
		</div>

		<p>
		O SIGEPI denominado Sistema de Gestão de Pesquisa e Inovação é uma solução 
			em software que permite que uma entidade gestora possa gerenciar tudo o que
			envolve a pesquisa e a inovação tecnológica. Com o sistema é possível realizar
			várias atividades em seus três módulos: web, desktop e mobile. 
			Dentre as suas principais atividades, destacam-se:		
		<p>
		
		
		<ul>
			<li>Controle de Usuários</li>
			<li>Submissão de Projetos</li>
			<li>Gerência de Editais</li>
			<li>Avaliação de Projetos</li>
		</ul>	

		<br>
		<br>

		<h2>A história do SIGEPI</h2>
		<p>
		Criado em abril de 2012, quando alunos e professores do IFRN formularam o que seria apenas um sistema web para suprir
		 as principais necessidades da Pró-Reitoria de Pesquisa e Inovação do IFRN. Hoje, o sistema já conta com vários módulos
		 e atualmente encontra-se na versão 1.2 .
		</p>

		<br>
		<br>

		<h2>Novidades</h2>
		<p>
		  A atual equipe de desenvolvimento, além de fazer a manutenção do sistema, está constantemente pensando em novas
		   melhorias e novos módulos, de acordo com novos requisitos que também são solicitados. Dentre esses futuros módulos
		   teremos:
		</p>
		  <ul>
			<li>Módulo do Bolsista</li>
			<li>Administração de Conferências</li>
			<li>Administração de Competições Científicas</li>
			<li>Administração de Empresas de Incubação Tecnológica</li>
		 </ul>

	</div>
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Sistema de Gestão de Pesquisa e Inovação</li>
				<li><a href="@routes.Sobre.index">O Sistema</a></li>
				<li><a href="@routes.Sobre.manual">Manual</a></li>
				<li><a href="@routes.Sobre.equipeSigepi">Equipe Sigepi</a></li>
				<li><a href="@routes.Sobre.equipeProReitoria">Equipe Reitoria</a></li>
			</ul>
		</div>
	</div>
</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
	});
</script>