@import helpers.Seguranca.InformacoesUsuarioHelper._

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Administracao.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Administracao.gerenciarEdital()">Gerenciar Editais </a>
	                        </li>
	                        
	                        <li class="">
	                            <a href="@routes.Administracao.gerenciarBolsista()">Gerenciar Bolsista</a>
	                        </li>
	                        
	                        <li class="">
	                            <a href="@routes.Administracao.gerenciarCampus()">Gerenciar Campus</a>
	                        </li>
	                       
	                         <li>
	                           
	                           <a href="@routes.Administracao.formCadastrarProfessor()"> Cadastrar Professor</a>
	                    
	                         </li>
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>@getUsuarioLogado().nome</dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>