

@main("SIGEPI - Projetos para avaliar") {
<h1>Lista de Projetos a serem avaliados</h1>

<html>

<body>

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Avaliadores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Avaliadores.avaliarProjeto()">Avaliar Projetos</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>
	<center>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome do Projeto</th>
					<th>Data enviada</th>
					

				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>0839432403</td>
						<td><a href="@routes.Avaliadores.acessarDadosProjeto()">Projeto de Pesquisa 01</a></td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 02</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 03</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 04</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 05</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 06</td>
						<td>27-01-00</td>						
					</tr>
					
				


			</tbody>
		</table>
		  
	</center>
	
	 <a href="@routes.Avaliadores.index()" class="btn">Voltar</a>
</body>
</html>
}