@(projetos: List[Projeto])

@import tags._
@import helper._
@import helper.twitterBootstrap._
@import helpers.Seguranca.InformacoesUsuarioHelper._


@main {


	@if(isLogado()) {
	
			@if(getUsuarioLogado().isAdministrador ) {

					<div class="row">
							<div class="span12">
								<div class="page-header" style="overflow:hidden;">
									<h1 style="float:left;"> Listagem dos Projetos Aprovados </h1>
									
										<div style="float:right; position:relative; top:8px;">
											<h4>
									   
									  			@projetos.size Projetos(s) Aprovado(s).
									  
											</h4>
										</div>
					             </div>
					             
					             @if(projetos.size == 0) {
									<h3>Nenhum projeto foi aprovado.</h3>			
								} else {
								
										<table class="table table-bordered table-hover">
							              <thead>
							                <tr>
							                  
							                  <th>Edital</th>
							                  <th>Projeto</th>
							                  
							                </tr>
							              </thead>
							              <tbody>
							              @getUsuarioLogado().nome
							              
							               	@for(projeto  <- projetos) {
							                <tr>
							               		<td style="width:30%;">
							               		   @projeto.getEdital.getTitulo
							               		</td>
							               		<td>
							               		   @projeto.getTitulo
							               		</td>
							                </tr>
											}

							              </tbody>
							            </table>
								}

					   </div>
					</div>	

   		 	 }
   		}
}