@(projetosAvaliados: List[ProjetoAvaliado])


@import tags._
@import helper._
@import helpers.Seguranca.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;"> Opnião dos Projetos Avaliados</h1>
			</div>
			
			 @if(projetosAvaliados.size == 0) {
				<h3>Nenhum projeto foi avaliado até o momento.</h3>			
			} else {
			<table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Edital</th>
                  <th>Projeto</th>
                  <th>Nome Avaliador</th>
                  <th>Pontuação Obtida</th>
                  <th>Recomendação</th>
                  <th>Comentários</th>
                </tr>
              </thead>
              <tbody>
              
            
              
               	@for(projetoA <- projetosAvaliados) {
                <tr>
               		<td >	@projetoA.projeto.getEdital.getTitulo</td>
               		<td > @projetoA.projeto.getTitulo</td>
               		<td> @projetoA.usuario.getNome </td>               		
               	    <td >@projetoA.pontuacaoObtida Pontos</td> 
               	    <td >@projetoA.recomendacao</td> 
               	    <td style="width:35%;">@Html(projetoA.comentarios)</td> 
                </tr>
				}
			}
              </tbody>
            </table>
		</div>
	</div>	
}