

@main("SIGEPI dados do projeto") {

<html>
<body>

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Avaliadores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Avaliadores.avaliarProjeto()">Avaliar Projetos</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Logout</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div> 
	 </div>
	 
</body>

<h1>Dados do Projeto:</h1>

<br/><br/>
 
 <p>
	<strong>Nome do Projeto:</strong> Projeto Nome 
</p>


 <p>
	<strong>Data do cadastro:</strong> 01-11-2032 
 </p>

<br/><br/>

<hr>

<br/><br/>

<p>
	<strong>Download do Projeto:</strong> <a href=""> Projeto nome  </a>
</p>

<br/><br/>

<hr>

<br/><br/>

<p>
	<strong>Formulário de Avaliação</strong> <a href="@routes.Avaliadores.acessarFormulario()" class="btn"> Abrir Formulário </a>
</p>


<br><br><br><br>
 <a href="@routes.Avaliadores.avaliarProjeto()" class="btn">Voltar</a>
</html>

}
