

@main("SIGEPI - Projetos para avaliar") {
<h1>Lista de Projetos a serem avaliados</h1>

<html>

<body>


	<center>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome do Projeto</th>
					<th>Data enviada</th>
					

				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>0839432403</td>
						<td><a href="@routes.Avaliadores.acessarDadosProjeto()">Projeto de Pesquisa 01</a></td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 02</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 03</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 04</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 05</td>
						<td>27-01-00</td>						
					</tr>
					<tr>
						<td>0839432403</td>
						<td>Projeto de Pesquisa 06</td>
						<td>27-01-00</td>						
					</tr>
					
				


			</tbody>
		</table>
		  
	</center>
	
	 <a href="@routes.Avaliadores.index()" class="btn">Voltar</a>
</body>
</html>
}