@(grupos: List[GrupoPesquisa]) 

@import tags._
@import helper._
@import helpers.Seguranca.InformacoesUsuarioHelper._


@main {

<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Listagem dos Grupos</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isAdministrador) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.GrupoPesquisaController.formulario" class="btn"><i class="icon-plus"></i> Cadastrar Novo Grupo</a>
					</div>
					}
				}
			</div>
			
			@if(grupos.size == 0) {
				<h3>Nenhum grupo cadastrado.</h3>			
			} else {
				@for(grupo <- grupos) {
				<div class="item-lista">
					<div class="item-lista">
						<div class="item">
							
							<h2>
								<a href="@routes.GrupoPesquisaController.visualizar(grupo.id)">
									@grupo.nome 
								</a>
							</h2>
							
												
						
						
						<div style=" padding-top:10px;">
							<a href="@routes.GrupoPesquisaController.visualizar(grupo.id)" class="btn btn-primary"><i class="icon-white icon-list-alt"></i> Visualizar o Grupo</a>
							
							@if(isLogado()) {
								@if(getUsuarioLogado().isAdministrador) {
									<a href="@routes.GrupoPesquisaController.editar(grupo.id)" class="btn"><i class="icon-edit"></i> Editar</a>
									<a href="@routes.GrupoPesquisaController.deletar(grupo.id)" onclick="return confirm('Deseja realmente excluir o grupo &quot;@grupo.nome&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
								}
							}
						</div>
						
						 <br /><br />
						
						</div> 
					</div>
				</div>
				}
			}
		</div>
		</div>

}