@(formulario: Form[forms.AlterarUsuarioForm], coordenador: Usuario, campus: List[Campus], areasConhecimento: List[AreaConhecimento] , gruposPesquisa: List[GrupoPesquisa])


@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {

<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Edição do Coordenador: @coordenador.nome</h1>
			</div>
			
			@helper.form(action = routes.Coordenadores.editar(coordenador.id), 'style -> "margin:0;"){
			
			<div class="clearfix" id="idCurso_field">
					<label for="idCampus">Escolha o Campus do Coordenador:</label>
					<div class="input">
						<select id="idCampus" name="idCampus" class="span5">
							@for(campi <- campus) {
							  <option value="@campi.id">@campi.nome</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>
				
				<div class="clearfix" id="idCampus_field">
					<label for="idAreaConhecimento">Escolha a sua Área de Conhecimento:</label>
					<div class="input">
						<select id="idAreaConhecimento" name="idAreaConhecimento" class="span5">
							@for(area <- areasConhecimento) {
							  <option value="@area.id">@area.nome</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>
				
				<div class="clearfix" id="idCampus_field">
					<label for="idGrupoPesquisa">Escolha o seu Grupo de Pesquisa:</label>
					<div class="input">
						<select id="idGrupoPesquisa" name="idGrupoPesquisa" class="span5">
							@for(grupo <- gruposPesquisa) {
							  <option value="@grupo.id">@grupo.nome</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>
				
			
	    		@helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("email"), 'id -> "email", 'class -> "span5",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("cpf"), 'id -> "cpf", 'class -> "span5",  '_label -> "CPF: ", '_showConstraints -> false, '_showErrors -> true)
		    	
		    	
				<button type="submit" class="btn btn-primary">Editar Coordenador</button>
				&nbsp;
				<a class="btn" href="@routes.Coordenadores.listaCoordenadores" >Cancelar</a>
			}
			
		</div>
	</div>	


}