@main("SIGEPI - Dados do Projeto de Pesquisa"){

<html>

<body>

<div class="topbar">
	        <div class="fill">
	              <div id="headerCSS">
	                    <a class="brand" href="@routes.Professores.index()">Home</a>
	                    <ul class="">
	                        <li class="">
	                            <a href="@routes.Professores.exibirDadosCadastrados()">Dados do Projeto Cadastrados</a>
	                        </li>
	                        @*
	                        <li class="">
	                            <a href="@routes.Bolsistas.blank()">Bolsistas</a>
	                        </li>
	                        *@
	                    </ul>
	                    <dl id="user" class="afastar">
	                       <dt>user.name <span>(user.email)</span></dt>
	                         <dd>
	                              <a href="@routes.Sessions.efetuarlogout()">Sair</a>
	                        </dd>
	                   </dl>
	                   
	                </div>
	         </div>
	 </div>
	<center>

			<!-- <b>Edital:</b><input type="text" name="fname">
		
		<b>Nome do Projeto:</b><input type="text" name="fname">
		
		<b>Aluno:</b> <input type="text" name="fname">
		
		<b>Professor:</b><input type="text" name="fname"> -->
		
		
			<button class="btn pull-right" type="submit">Enviar</button>
			<a href="@routes.Professores.index()" class="btn pull-right">Voltar</a>
	</center>
	

</body> 
</html> 
}