
@import helpers.Seguranca.InformacoesUsuarioHelper._
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
	
	
	<div class="topbar">
			<div class="fill">
				<div id="headerCSS">
					<a class="brand" href="@routes.Professores.index()">Home</a>
					<ul class="">
						<li class=""><a href="@routes.Professores.criarNovoProjeto()">Cadastrar	Projeto</a></li>
						<li class=""><a href="@routes.Professores.adicionarMembrosProjeto()">Inserir Membros</a></li>
						<li class=""><a href="@routes.Professores.visualizarCurriculo()">Meu Currículo</a></li>
						<li class=""><a href="@routes.Professores.atualizarCurriculo()">Atualizar Currículo</a></li>
						
					</ul>
					<dl id="user" class="afastar">
						<dt>user.name<span>(user.email)</span></dt>
						<dd>
							<a href="@routes.Sessions.efetuarlogout()">Sair</a>
						</dd>
					</dl>   
				</div>
			</div>
		</div>