@(id: Long, bolsistas: Form[Bolsista], projetos : List[Projeto])

@import helper._
@import helper.twitterBootstrap._


 
@main("SIGEPI - Editar Bolsista") {

@helper.form(action = routes.Administracao.atualizarBolsista(id)) {


<fieldset>
   <legend>Bolsista (@bolsistas("nome").valueOr("Novo"))</legend>
       @helper.inputText(bolsistas("nome"))
       @helper.inputText(bolsistas("email"))
       @helper.inputText(bolsistas("matricula"))
       @helper.inputText(bolsistas("cpf"))
       
        <div class="clearfix" id="idCurso_field">
				<label for="idProjeto">Escolha o Projeto:</label>
				<div class="input">
						<select id="idProjeto" name="idProjeto" class="span5">
							@for(projeto <- projetos) {
							  <option value="@projeto.id">@projeto.nome</option>
							}						
		    			</select>
					<span class="help-inline"></span>
					<span class="help-block"></span>
				</div>
		 </div>
       
       @* @helper.textarea(bolsistas("descricao")) *@
</fieldset>
<input type="submit" class="btn primary">

<a href="@routes.Administracao.gerenciarBolsista" class="btn">Cancelar</a>


 } 

}
