@(projeto: Projeto)
@import tags._
@import helper._
@import helper.twitterBootstrap._
@import helpers.Seguranca.InformacoesUsuarioHelper._


@main {

@**
<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 class="pull-left">
					@projeto.titulo
					<small> 
						- @projeto.edital.getTitulo <br/>						
						<br/>				 	
					</small>						
				</h1>
			</div>
			
			<div class="row">
				<div class="span10">
					
					<div class="row">
						<div class="span10">
							<h3 class="page-header">Resumo:</h3>
							<pre>
								@Html(projeto.resumo)
							</pre>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>	
	
	*@
	
<div class="row">
	<div class="span8">
		<div class="page-header">
			<h1>@projeto.titulo

			<small>
				- @projeto.edital.getTitulo <br/>
		    </small>
			 </h1>
		</div>

		<p> 
	        <p>
			   <h4>Resumo:</h4>
			</p>
			<div class="row" >
	         	<div class="span7 well pull-left" >			
						<div style="height:300px; position:relative;" >
							@Html(projeto.resumo)
						</div>
					</div>
			</div>
		</p>
	</div>
		<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Ação</li><br />
						<a href="@routes.Projetos.getDocumento(projeto.id)" class="btn btn-primary"> <i class="icon-white icon-download-alt"> </i>Faça o Download do Arquivo PDF</a><br />
					</ul>
				</div>
		</div>	
	</div>
}