@(formulario: Form[AreaConhecimento], area: AreaConhecimento)

@import tags._
@import helper.twitterBootstrap._

@main {

<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Edição da Área: @area.nome</h1>
			</div>
			
			@helper.form(action = routes.AreaConhecimentoController.editar(area.id), 'style -> "margin:0;", 'class -> "form-horizontal"){
			
				@helper.inputText(formulario("nome"), 'id -> "nome",'class -> "span6", '_label -> "Nome da Área: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Editar a área</button>
				&nbsp;
				<a class="btn" href="@routes.AreaConhecimentoController.index" >Cancelar</a>
			}
			
		</div>
	</div>	

}