@(formulario: Form[Usuario], campus: List[Campus])


@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}


@main {

<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Cadastro de Coordenador</h1>
			</div>
			
			@helper.form(action = routes.Coordenadores.cadastrar(), 'style -> "margin:0;"){
	    		@helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("email"), 'id -> "email", 'class -> "span5",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
		    	
		    	<div class="clearfix" id="idCurso_field">
					<label for="idCampus">Escolha o seu Campus:</label>
					<div class="input">
						<select id="idCampus" name="idCampus" class="span5">
							@for(campi <- campus) {
							  <option value="@campi.id">@campi.nome</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>
				
		    	@helper.inputText(formulario("login"), 'id -> "login", 'class -> "span5",  '_label -> "Login: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputPassword(formulario("senha"), 'id -> "senha", 'class -> "span5",  '_label -> "Senha: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputPassword(formulario("confirmacaoSenha"), 'id -> "confirmacaoSenha", 'class -> "span5", '_label -> "Confirme a Senha: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Cadastrar</button>
				&nbsp;
										 
				 <a class="btn" href="@routes.Administracao.index" >Cancelar</a>
						 
			}
			
		</div>
	</div>	

}