@(formulario: Form[Projeto], editais: List[Edital] )
@import tags._

@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}

@main { 

<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Submissão de Projeto</h1>
			</div>
			
			@helper.form(action = routes.Projetos.submeter(), 'style -> "margin:0;"){
				@helper.inputText(formulario("titulo"), 'id -> "titulo", 'class -> "span8", '_label -> "Título do Projeto: ", '_showConstraints -> false, '_showErros -> true)
				
				<div class="clearfix" id="idCampus_field">
					<label for="idEdital">Edital do Projeto:</label>
					<div class="input">
						<select id="idEdital" name="idEdital" class="span5">
							@for(edital <- editais) {
							  <option value="@edital.id">@edital.titulo</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>

				
				@helper.textarea(formulario("resumo"), 'id -> "resumo", 'rows -> "15", 'class -> "span10", '_label -> "Resumo: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("introducao"), 'id -> "introducao", 'rows -> "15", 'class -> "span10", '_label -> "Introdução: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("fundamentacaoTeorica"), 'id -> "fundamentacaoTeorica", 'rows -> "15", 'class -> "span10", '_label -> "Fundamentação Teórica: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("justificativa"), 'id -> "justificativa", 'rows -> "10", 'class -> "span10", '_label -> "Justificativa: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("objetivos"), 'id -> "objetivos", 'rows -> "10", 'class -> "span10", '_label -> "Objetivos: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("metodologia"), 'id -> "metodologia", 'rows -> "10", 'class -> "span10", '_label -> "Metodologia: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("referencias"), 'id -> "referencias", 'rows -> "10", 'class -> "span10", '_label -> "Referências:", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Submeter Projeto</button>
				&nbsp;
				<a class="btn" href="@routes.Projetos.meusProjetos" >Cancelar</a>
			}
			
		</div>
	</div>

}



