 @main("SIGEPI - Area do Administrador") {
<html>
<head>
<link rel="stylesheet" type="text/css" href=".../css/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src=".../js/bootstrap.js"></script>

</head>
<body>

	<div class="topbar">
		<div class="fill">
			<div id="headerCSS">
				<a class="brand" href="@routes.Administracao.index()">Home</a>
				<ul class="">
					<li class=""><a href="@routes.Administracao.cadastrarEdital()">Cadastrar
							Edital</a></li> @*
					<li class=""><a href="@routes.Bolsistas.blank()">Bolsistas</a>
					</li> *@
				</ul>
				<dl id="user" class="afastar">
					<dt>
						user.name <span>(user.email)</span>
					</dt>
					<dd>
						<a href="@routes.Sessions.efetuarlogout()">Sair</a>
					</dd>
				</dl>

			</div>
		</div>
	</div>

	xxxxxxxxxxxxxxxxxxxxxx

	<!-- Button to trigger modal -->
	<a href="#myModal" role="button" class="btn" data-toggle="modal">Cadastrar
		Novo Edital</a>

	<!-- Modal -->
	<div id="myModal" class="modal shown fade" tabindex="-1" style="width:700px" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">X</button>
			<h3 id="myModalLabel">Cadastrar Novo Edital</h3>
		</div>
		<div class="modal-body" >
		
		Nome do Edital: <input type="text"><br> 
		Anexo: <input type="file"><br>
		Período de <input type="date"> a <input type="date"><br><br>
		Descrição: <textarea rows="3"></textarea><br>
		 
		
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
			<button class="btn primary">Enviar</button>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<center>
		<table border="1">

			<thead>
				<tr>
					<th>Editais</th>
					<th>Data enviada</th>
					<th>Situação</th>



				</tr>
			</thead>
			<tbody>

				<tr>
					<td>0839432403</td>
					<td>27-01-00</td>
					<td><a href="" class="btn success">Editar</a> <a href=""
						class="btn danger">Excluir</a></td>
				</tr>
				<tr>
					<td>0839432403</td>
					<td>27-01-00</td>
					<td><a href="" class="btn success">Editar</a> <a href=""
						class="btn danger">Excluir</a></td>
				</tr>
				<tr>
					<td>0839432403</td>
					<td>27-01-00</td>
					<td><a href="" class="btn success">Editar</a> <a href=""
						class="btn danger">Excluir</a></td>
				</tr>
				<tr>
					<td>0839432403</td>
					<td>27-01-00</td>
					<td><a href="" class="btn success">Editar</a> <a href=""
						class="btn danger">Excluir</a></td>
				</tr>
				<tr>
					<td>0839432403</td>
					<td>27-01-00</td>
					<td><a href="" class="btn success">Editar</a> <a href=""
						class="btn danger">Excluir</a></td>
				</tr>
				<tr>
					<td>0839432403</td>
					<td>27-01-00</td>
					<td><a href="" class="btn success">Editar</a> <a href=""
						class="btn danger">Excluir</a></td>
				</tr>




			</tbody>
		</table>

	</center>
</body>

</html>

}
