@(id: Long, editais: Form[Edital])

@import helper._
@import helper.twitterBootstrap._


@main("SIGEPI - Editar Edital") {

@helper.form(action = routes.Administracao.atualizarEdital(id)) {


<fieldset>
   <legend>Edital (@editais("nome").valueOr("Novo"))</legend>
       @helper.inputText(editais("nome"))
       @helper.inputText(editais("descricao"))
       @helper.inputText(editais("periodoInscricaoInicial"))
       @helper.inputText(editais("periodoInscricaoFinal"))
       
       @* @helper.textarea(bolsistas("descricao")) *@
</fieldset>
<input type="submit" class="btn primary">

<a href="@routes.Administracao.gerenciarEdital" class="btn">Cancelar</a>


 }

}
